@import "../variable";

.search-wrap {
  display: flex;
  flex-direction: column;
  border-radius: $round-border-radius;
  border: 1px solid $gray;
  box-shadow: 2px 2px 2px $dark-gray;
  background-color: $white;

  .search-content-wrap {
    width: 100%;
    height: 60px;
    display: flex;

    .text-container {
      width: 100px;
      display: flex;
      align-items: center;
      padding: 10px 20px;
    }
    .search-container {
      width: 520px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

// 선택 박스
.select-box {
  position: relative;
  width: 100px;
  padding: 8px;
  border-radius: $default-border-radius;
  background-color: $white;
  align-self: center;
  border: 1px solid $gray;
  cursor: pointer;

  .select-label {
    font-size: $default-font-size;
  }
  .select-options {
    text-align: center;
    position: absolute;
    list-style: none;
    top: 33px;
    left: 0px;
    width: 100%;
    padding: 0;
    border-radius: $default-border-radius;
    background-color: $white;
    box-shadow: 0px 4px 4px $dark-gray;
    overflow: hidden;
  }
  .each-option {
    font-size: $default-font-size;
    padding: 10px 8px;
    transition: background-color 0.2s ease-in;
    &:hover {
      background-color: $dark-gray;
      cursor: pointer;
    }
  }

  .arrow-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    width: 20px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: opacity(0.5) drop-shadow(0 0 0 $dark-gray);
  }

  .reversed {
    transform: rotate(180deg);
  }

  .hidden {
    max-height: none;
  }

  .show {
    max-height: 0;
  }
}

// 검색 바
.search-bar {
  width: 300px;
  height: 32px;
  border-radius: $default-border-radius;
  border: 1px solid $gray;
  background-color: $white;
  outline: 0px;
  outline-offset: -5px;
  font-size: $default-font-size;
  padding: 0px 10px;
  &:hover {
    border: 1px solid $gray;
    box-shadow: $confirm-button-box-shadow-effect;
    cursor: pointer;
  }
  &:focus {
    border: 1px solid $gray;
    box-shadow: $confirm-button-box-shadow-effect;
  }
}
