// color
$white: #fff;
$black: #000;
$gray: #eee;
$dark-gray: #ccc;

// hover effect
$hover-box-shadow-effect: 0px 0px 3px 3px $gray;
$confirm-button-box-shadow-effect: 0px 0px 3px 3px $dark-gray;

// border-radius
$default-border-radius: 4px;
$round-border-radius: 10px;

// font-size
$title-font-size: 15px;
$default-font-size: 13px;
